@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../fonts/Philosopher/Philosopher-Bold.ttf');
}

@font-face {
    font-family: 'Philosopher-Regular';
    src: url('../fonts/Philosopher/Philosopher-Regular.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Philosopher-Regular, sans-serif;
    margin: 0;
}

* {
    /* outline: 1px solid red; /* debug */
}
