@font-face {
    font-family: 'Philosopher-Bold';
    src: url('assets/css/fonts/Philosopher/Philosopher-Bold.ttf');
}

@font-face {
    font-family: 'Philosopher-Regular';
    src: url('assets/css/fonts/Philosopher/Philosopher-Regular.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Philosopher-Regular, sans-serif;
    margin: 0;
}

.intro-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("assets/images/bg-intro.png");
    height: 25rem;
}

.intro {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 5rem 0 0;
    width: 50%;
}

#intro-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#diagram-projet-solid {
    height: 2.5rem;
}

#title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#intro-text {
    width: 35rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

#content > h1 {
    font-size: 2rem;
}

* {
    /* outline: 1px solid red; /* debug */
}
