.main-nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-iut {
    height: 4.5em;
}

#pages-container {
    display: flex;
    gap: 2rem;
}

#pages-container > a {
    transition: color 0.3s ease, letter-spacing 0.3s ease;
}

#pages-container > a:hover {
    color: black;
    letter-spacing: 2px;
    /*font-size: 1.3rem;*/
}

.pages-link {
    text-decoration: none;
    font-size: 1.3em;
    font-family: Philosopher-Bold, sans-serif;
    color: #019EF3;
}